*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.wrapper{
    width: 1200px;
    margin: auto;
}

.wrapper > *{
    margin-top: 20px;
}

header{
    background-color: #E579E6;
    height:100px;
}

section{
    background-color: #E2D67A;
    height: 300px;
}

main{
    background-color: #0486FC;
}

nav, aside, article{
    background-color: #AACDE4;
}